:root {
  --color-white: #fff;
  --color-black: #000;
  --color-light-gray: #f1f3f4;
  --color-gray: #e9ebec;
  --color-dark-gray: #5f6368;
  --color-yellow: #fcc23b;
}

body,
input {
  font-family: Roboto, Cantarell, Arial, sans-serif;
  font-size: 87.5%;
  color: var(--color-black);
}

body {
  background-color: var(--color-white);
}

input,
textarea {
  background-color: var(--color-light-gray);
  border: 1px solid var(--color-light-gray);
  border-radius: 4px;
  padding: 4px;
  width: calc(100% - 10px);
}

input:hover,
textarea:hover {
  background-color: var(--color-gray);
}

input:focus,
textarea:focus {
  outline: 0;
  border-color: var(--color-yellow);
  background-color: var(--color-gray);
}

input[type='submit'] {
  background-color: var(--color-gray);
  border: 2px solid var(--color-yellow);
  font-weight: 500;
  line-height: 1.6em;
  width: 100%;
}

input[type='submit']:hover,
input[type='submit']:active {
  background-color: var(--color-yellow);
}
